node_modules/
dist/
distlib/
coverage/
test-results/
testing/.providers.json
testing/playwright/.resources.json
testing/playwright-report
tmp/
yarn-error.log
openapitools.json
tsconfig.tsbuildinfo
.eslintcache

ci/yaml/openapi.yaml

**/mockServiceWorker.js

storybook-static
.rollup.cache
kubectl
kubectl.sha256

forkliftci
*.sh
.gitignore
.playwright-mcp/*
testing/playwright/CUSTOM_FIXTURES_SUMMARY.md
testing/playwright/.auth/user.json
testing/playwright/fixtures/FIXTURES.md
.secrets.example
.DS_Store
testing/playwright/e2e/downstream/docs/*
