.forklift-plan-status {
  &__grey-label {
    background: rgba(60, 63, 66, 1);
    .pf-v6-c-label__content {
      color: white;
    }
  }

  &__dark-label {
    background: var(--pf-t--color--black);
    .pf-v6-c-label__content {
      color: white;
    }
  }

  &__gold-label {
    background: var(--pf-t--global--color--status--warning--default);
    color: black;
  }
}
